@import url("reset.css");
/* read this about this box-sizing thingy 
https://css-tricks.com/box-sizing/*/
* {
  box-sizing: border-box; }

div {
  user-select: none;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }

body {
  padding: 1rem;
  background: #333;
  font-family: "Lobster2", Georgia, Times, serif; }

h2 {
  margin: 0 0 0.5rem 0;
  padding: 0 0 0.25rem 0;
  border-bottom: 2px solid #333; }

@media (max-width: 500px) {
  h3 {
    font-size: 14px; } }

@media (max-width: 500px) {
  p {
    font-size: 12px; } }

#module-movie-wrapper-wrapper {
  width: 100%; }

/* need to change this width if you decide on a different amount of movies for each row*/
#module-movie-wrapper {
  width: 116%; }
  @media (min-width: 1300px) {
    #module-movie-wrapper {
      width: 104%; } }
  @media (max-width: 500px) {
    #module-movie-wrapper {
      width: 115%; } }

/* height 0 padding % is a trick to scale height proportional to width*/
.module-movie {
  float: left;
  width: 17.5%;
  margin: 2%;
  height: 0;
  padding-bottom: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0 0 20px 0px black, inset 0 0 0 5px black; }
  @media (min-width: 1300px) {
    .module-movie {
      width: 12%;
      height: 0;
      padding-bottom: 24%; } }
  @media (max-width: 500px) {
    .module-movie {
      width: 25%; } }
  .module-movie .enlarge {
    transform: scale(1.1); }
  .module-movie:after {
    /* Makes poster fade darker at bottom; makes movie-info easier to read*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)); }
    @media (min-width: 1300px) {
      .module-movie:after {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)); } }

.movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  color: white;
  z-index: 10;
  max-height: 100%;
  overflow: scroll;
  font-size: 2.2vmax; }
  @media (max-width: 500px) {
    .movie-info {
      height: 50%; } }
  @media (min-width: 1300px) {
    .movie-info {
      height: 85%;
      font-size: 1.5vw; } }

.movie-title:before, .category:before, .movie-director:before, .movie-imdb-rating:before, .movie-rotten-tomatoes-rating:before, .movie-netflix-rating:before {
  display: block;
  font-size: 1.2vmax;
  text-transform: uppercase;
  color: #999; }

.movie-title {
  margin: 0 0 0.5rem 0; }
  .movie-title:before {
    content: "Title"; }

.category:before {
  content: "Genre"; }

.movie-director {
  margin: 0; }
  .movie-director:before {
    content: "Director"; }

.movie-imdb-rating {
  margin: 0; }
  .movie-imdb-rating:before {
    content: "IMDB Rating"; }

.movie-rotten-tomatoes-rating {
  margin: 0; }
  .movie-rotten-tomatoes-rating:before {
    content: "Rotten Tomatoes Rating"; }
  .movie-rotten-tomatoes-rating:after {
    font-size: 2.2vmax;
    content: "%";
    display: inline;
    text-transform: uppercase;
    color: white; }
    @media (max-width: 500px) {
      .movie-rotten-tomatoes-rating:after {
        font-size: 12px; } }
    @media (min-width: 1300px) {
      .movie-rotten-tomatoes-rating:after {
        font-size: 1.5vmax; } }

.movie-netflix-rating {
  margin: 0; }
  .movie-netflix-rating:before {
    content: "Netflix Rating"; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0; }

.hidden {
  visibility: hidden; }

.unhidden {
  visibility: visible; }

.description {
  position: absolute;
  background: #DAD1CA;
  top: 2px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  opacity: 0;
  color: black;
  text-align: center;
  font-family: "Lobster2", Georgia, Times, serif;
  z-index: 3; }

.show-description {
  opacity: 1;
  /* 90% opaque white */
  box-shadow: 0 0 10px 0px black;
  transform: scale(1.05); }

.netflix-play-button, .add-button, .remove-button {
  cursor: pointer;
  /* need a position for z-index to work*/
  opacity: .8;
  user-select: none; }
  @media (max-width: 500px) {
    .netflix-play-button, .add-button, .remove-button {
      width: 30px;
      height: 30px; } }

.button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
  flex-wrap: no-wrap; }

.add-button {
  align-self: center; }
  @media (max-width: 500px) {
    .add-button {
      width: 20px;
      height: 20px; } }

.remove-button {
  align-self: center;
  display: none; }
  @media (max-width: 500px) {
    .remove-button {
      width: 20px;
      height: 20px; } }

.faded {
  opacity: .5; }

.sort-tab {
  width: 100%;
  text-align: center; }

.sort-rating {
  display: block; }

.sort-rating li, #tab-saved, .sort-genre li {
  display: inline-block;
  color: #9b0000;
  height: 2em;
  border-right: 5px;
  border-style: solid;
  border-color: gray;
  font-size: 2vmax;
  float: left;
  /* make sure to clear the float*/
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-family: "Lobster2", Georgia, Times, serif; }
  .sort-rating li:hover, #tab-saved:hover, .sort-genre li:hover {
    box-shadow: 0 0 20px 0px white; }

.sort-rating li {
  width: 18vw;
  margin: 5px 5px 2px 5px;
  text-align: left; }

#tab-saved {
  width: 8vw; }

a {
  width: 100%;
  color: #9b0000;
  text-align: center;
  text-decoration: none;
  font-size: 1.3vmax; }

.sort-genre {
  display: block;
  clear: both; }

.sort-genre li {
  width: 10vw;
  margin: 10px 5px 2px 5px; }

.sort-wrapper {
  float: left;
  position: relative;
  width: 100vw; }

#clear-div {
  clear: both; }

#movies {
  background-color: #9b0000;
  overflow: hidden; }

#saved {
  margin: 20px;
  background-color: #333;
  color: #9b0000;
  overflow: hidden;
  font-size: 3vmax; }
  #saved .add-button {
    z-index: -1;
    opacity: 0; }
  #saved .remove-button {
    display: inline; }
  #saved:before {
    display: block;
    content: "Saved for Later";
    text-align: center; }
  #saved:empty {
    color: #333; }

#search-li {
  width: 20vw;
  border-top: gray;
  border-bottom: gray;
  border-left: gray;
  border-right: gray;
  border-style: solid; }

#search-wrapper {
  height: 100%; }

#search-form {
  height: 100%; }

#search-bar {
  display: inline;
  width: 80%;
  float: left;
  font-size: 2vw;
  background-color: #333;
  border-style: none;
  color: gray;
  height: 100%; }

#search-bar:focus {
  outline: none; }

#search-button {
  display: inline;
  width: 20%;
  float: right;
  height: 100px;
  background-color: grey; }

.no-display {
  display: none; }

.description-movie-title {
  display: block;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  vertical-align: top;
  border-bottom: 2px solid black;
  font-family: "Oswald";
  font-size: 2.5vmax; }

.description-release-date {
  border-bottom: 2px solid #2f2f2f;
  font-size: 1.8vmax;
  margin-bottom: 2px; }

.description-summary {
  font-size: 2vmax; }
  @media (max-width: 500px) {
    .description-summary {
      font-size: 12px; } }
  @media (min-width: 1300px) {
    .description-summary {
      font-size: 1.5vmax; } }

/* applied to tabs so that a double click doesn't highlight the tabs*/
.disable-user-select, .dialog-button-agree, .dialog-button-disagree {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/ }

.dialog-button-agree, .dialog-button-disagree {
  width: 26.66667%;
  height: 50px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  overflow: auto;
  cursor: pointer;
  box-shadow: 0px 0px 10px 2px;
  margin-bottom: 5px;
  font-size: 2vmax; }
  .dialog-button-agree:active, .dialog-button-disagree:active {
    box-shadow: inset 0px 0px 10px 2px; }
  .dialog-button-agree p, .dialog-button-disagree p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

.dialog-container-wrapper {
  position: fixed;
  z-index: 99; }

.dialog-container {
  display: inline-flex;
  background-color: rgba(217, 217, 247, 0.65);
  justify-content: space-around;
  width: 80%;
  height: 200px;
  text-align: center;
  align-items: flex-end;
  border-radius: 20px;
  flex-wrap: wrap;
  overflow: scroll; }

.dialog-button-agree {
  background-color: rgba(44, 255, 44, 0.3); }

.dialog-button-disagree {
  background-color: rgba(255, 44, 44, 0.4); }

.dialog-message {
  align-self: flex-start;
  padding: 20px;
  display: block;
  width: 100%;
  font-size: 2vmax; }

.dialog-wrapper {
  text-align: center;
  padding: 20px; }

.zero-z-index {
  z-index: 0; }

.fifty-z-index {
  z-index: 50; }

.small-screen-play-link {
  visibility: hidden; }

@media (max-width: 500px) {
  .visible-small-screen {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%; } }

/*# sourceMappingURL=style.css.map */
